@import "tailwindcss";

:root{
    --color-accent: #f56b79;
}

@layer utilities {
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  
  /* Pseudo-element DEBE estar fuera del layer */
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}
